<!--
    1 测试JS文件是否必须放在静态文件目录
    2 测试添加表单功能
    3 测试同名控件的值传递
-->
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

<form method='post'>
   
    <table id='my_table' border=1>
    <thead>
        <tr >
            <th>序号</th>
            <th>颜色</th>
            <th>长度</th>
            <th>单价</th>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
        <tr  class='row'>
            <td>1</td>
            <td><input type='text' name='color' value='13#'></td>
            <td><input type='text' name='length' value='100'></td>
            <td ><input type='text' name='price' value='8.3'></td>
            <td><span onclick='delRow(this)'>delete</span></td>
        </tr>

        <tr id='last_row' ><td colspan=3><span  id='add_row'>增加一行</span><input type="submit" /></td></tr>
    </tbody>
    </table>
</form>


<script src="{{ url_for('static', filename='js/my.js') }}"></script>