{% extends 'base.html' %}

{% block title %}订单处理{% endblock %}

{% block content %}

<div  class="container" style="text-align:center;">            
    <div class="row">
        <div class="col-xs-7 " >
            <h1 style="text-align:center;">销 售 单</h1>
            <table  class="table table-striped">
                <form role="form" action='/test'method='post'>
                <caption>
                    <div class="row">
                        <div class="col-xs-4"><input id='order_id' name='order_id' type='text' class="form-control" readonly></div>
                        <div class="col-xs-4">
                            <select class="form-control" id='customer' name='customer'>
                                {% for item in data['custom'] %}
                                <option>{{item.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="col-xs-3"><input name='order_date' type="date"  id="order_date" class="form-control" required style="width:220px;"></div>
                    </div>
                </caption>
                <thead>
                <tr >
                    <th style="text-align: center;">序号</th>
                    <th style="text-align: center;">品名</th> <!--这里要用选择更表框-->
                    <th style="text-align: center;">单价</th> <!--品名选定，单价就要出来-->
                    <th style="text-align: right;">数量</th>  
                    <th style="text-align: right;">小计</th> <!--如果单价和数量都有，小计就要出来结果-->
                    <td> </td>
                </tr>
                </thead>
                
                <tbody>
                
                <tr>
                    <td style="vertical-align: middle;">1</td>
                    <td><select class="form-control goods" name='goods'>
                        {% for item in data['goods'] %}
                        <option value="{{item.id}}">{{item.name}}</option>
                        {% endfor %}
                    </select></td>
                    <td style="text-align: right; vertical-align: middle;" name='price'>{{data['goods'][0].price}}</td>
                    <td ><input type="number" class="form-control quantity" style="text-align: right; " name="quantity" placeholder="请输入数量"  autocomplete="off" required></td>
                    <td style="text-align: right; vertical-align: middle;">-</td>
                    <td><span id='del_row' style="vertical-align: middle;" onclick='delRow(this)'>X</span></td>
                </tr>
                <tr id='last_row' style="font-size: large;">
                    <td ></td>
                    <td><input type='button' class="form-control" id='actions' value='提交'></td>
                    <td>
                        <input type='hidden' id='order_quantity' name='order_quantity'>
                        <input type='hidden' id='order_amount' name='order_amount'>
                    </td>
                    <td id='quantity' style="text-align: right;">0</td>
                    <td id='amount' style="text-align: right;">0</td>
                    <td ><span id='add_row' >+</span></td>
                </tr>
            
                </tbody>
            </form>
            </table>
    </div>
</div>
</div>

{% endblock %}