{% extends 'base.html' %}
{% block title %}订单列表{% endblock %}

{% block content %}

<h1>订单列表</h1>
<table class="table table-stdiped">
    <thead>
        <td>订单编号</td>
        <td>客户名称</td>
        <td>商品数量</td>
        <td>订单金额</td>
        <td>日期</td>
        <td>操作</td>
    </thead>
    <tbody>
    {% for item in data['od'] %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.customer }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.date }}</td>
        <td>
            <a href="{{url_for('orderView',orderid=item.id)}}">查看详情</a>
            <a href="{{url_for('orderDel',orderid=item.id)}}">删除</a>
            <a href="{{url_for('orderUpdate',orderid=item.id)}}">编辑</a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
<h1>订单明细</h1>
<table class="table table-stdiped">
    <thead>
        <td>订单编号</td>
        <td>商品名称</td>
        <td>数量</td>
        <td>小计</td>
    </thead>
    <tbody>
         {% for item in data['ods'] %}
        <tr>
            <td>{{ item.order_id }}</td>
            <td>{{ item.goods_name.name }}</td>
            <td>{{ item.goods_quantity }}</td>
            <td>{{ item.goods_amount }}</td>
        </tr>
        {% endfor %}
    </tbody>

{% endblock %}